@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;

  display: grid;
  grid-template-columns:
    1fr
    min(10rem, 100%)
    min(26rem, 100%)
    min(10rem, 100%)
    1fr;
  grid-template-rows:
    3rem
    1fr
    min(26rem, 100%)
    3rem
    1fr
    3rem;

  gap: 4px;
}

.bleed-second {
  grid-column: 3 / -3;
}

.bleed-first {
  grid-column: 2 / -2;
}

.bleed-full {
  grid-column: 1 / -1;
}

.forecast-container {
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 17rem 9rem;
  gap: 2px;

  background-color: rgb(52, 102, 209);
  border: 2px solid black;
  border-radius: 1rem;
}

.forecast-currently {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.weather-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  flex: 0;
  width: 10rem;
}

.weather-icon-description {
  font-size: 2rem;
}

.forecast-currently-details {
  display: grid;
  grid-template-rows: 1fr 1rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  padding: 2rem;
}

.forecast-temp {
  font-size: 8rem;
  font-weight: 700;
}

.forecast-feels-like {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.forecast-humidity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.forecast-daily-set {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.forecast-daily-item {
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.city-picked {
  grid-row: 4 / 5;

  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 2px solid black;
  border-radius: 1rem;
}

.city-pick-input {
  height: 100%;
  width: auto;
  flex: 1;

  border: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1rem;

  font-family: "Open Sans", sans-serif;
}

.city-pick-resolve {
  height: 100%;

  border: none;
  border-left: 1px solid black;
  border-top-right-radius: 0.9rem;
  border-bottom-right-radius: 0.9rem;
  padding-left: 1rem;
  padding-right: 1rem;

  background-color: rgb(52, 102, 209);
  color: white;
  font-family: "Open Sans", sans-serif;

  cursor: pointer;
}

.resolve-ring {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.9rem;
  background-color: rgba(78, 78, 78, 0.5);
}

.resolve-ring img {
  height: 100%;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

p,
input,
button {
  padding: 0;
  margin: 0;
}
