@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("./assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf")
    format("truetype");
  font-style: italic;
  font-display: swap;
}

:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.wrapper {
  height: 100%;

  display: grid;
  grid-template-columns:
    1fr
    min(10rem, 100%)
    min(26rem, 100%)
    min(10rem, 100%)
    1fr;
  grid-template-rows:
    3rem
    1fr
    min(26rem, 100%)
    3rem
    1fr
    3rem;

  gap: 4px;
}

.bleed-second {
  grid-column: 3 / -3;
}

.bleed-first {
  grid-column: 2 / -2;
}

.bleed-full {
  grid-column: 1 / -1;
}

.forecast-container {
  grid-row: 3 / 4;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 18rem 8rem;
  gap: 2px;

  background-color: rgb(52, 102, 209);
  border: 2px solid black;
  border-radius: 1rem;
}

.forecast-currently {
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.weather-display {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  flex: 0;
  width: 10rem;
}

.weather-icon-description {
  font-size: 2rem;
}

.forecast-daily-set {
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
}

.city-dropdown {
  grid-row: 4 / 5;

  border: 2px solid black;
  border-radius: 1rem;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

p {
  padding: 0;
  margin: 0;
}
